<div>
    <button class="btn btn-primary" (click)="anterior()">anterior</button>
    <label style="margin-left: 10px;" for="">Page {{page}}/{{lastPage}}</label>
    <button style="margin-left: 10px;" class="btn btn-primary" (click)="siguiente()">siguiente</button>
</div>

<div class="products--grid">
    <app-hero (showHero)="onShowDetail($event)" [heroData]="hero" *ngFor="let hero of herosList"></app-hero>
</div>

<div class="product-detail" [class.active]="showHeroDetail">
    <div>
        <button  class="btn btn-primary" (click)="toggleProductDetail()">close</button>
        <app-detalle-hero [selectHero]="heroChosen"></app-detalle-hero>
    </div>
</div>

